@{
    ViewBag.Title = "About";
}



<section class="page-header mb-lg">

    <div class="container">
        <ul class="breadcrumb">
            <li><a href="#">Anasafya</a></li>

            <li class="active">Hakkında</li>
        </ul>
    </div>
</section>

<div class="container about-container">

    <div class="row">
        <div class="col-md-8">
            <h3 class="h1 heading-primary"><strong>Biz</strong> Kimiz?</h3>
            <p>
                <span class="alternative-font">Interior Mobilya</span>
                30 yılı aşan üretimi boyunca sahip olduğu bilgi ve tecrübeyi, siz değerli müşterileri ile paylaşmanın heyecanını duyar.
            </p>
            <p>
                Kurulduğu günden itibaren mobilya konusunda üretim yapan uzman kadroya sahip olan şirketimiz;
                <br />
                <span class="alternative-font">Berjer’ler</span><br />
                <span class="alternative-font">Koltuk Takımları</span><br />
                <span class="alternative-font">Abajurlar</span><br />
                <span class="alternative-font">Dekoratif Isıklar</span><br />
                <span class="alternative-font">Ofis Sandalyeleri</span><br />
                <span class="alternative-font">Avizeler</span><br />
                <span class="alternative-font">Ev Dekor Ürünleri</span><br />
                ile birlikte mobilya sektöründe hizmet vermektedir.
            </p>
            <p>
                Hizmetlerimiz ürün satışı, satış sonrası destek,yerinde kurulum, paketleme ve yurt içi ve yurt dışı lojistik operasyonlarını da kapsamaktadır.
                Orta ölçekli bir işletme olmasına rağmen kurulduğu ilk andan itibaren kaliteye verdiği önem ve zoru başarma azmi sayesinde kısa sürede mobilya sektöründe tanınmış ve bu ilkelerinden asla vazgeçmemiştir.
            </p>
            <p>
                Firmanın değişmez prensipleri daima kalite, hizmet, zamanında teslim ve uygun fiyat olmuştur.
                Üretimde başarı ve sürekliliğin teminatı hizmette dürüstlük ve kalitedir prensibiyle çalışan <span class="alternative-font">Interior Mobilya</span>, gösterdiğiniz yakın ilgi ve desteğinizden ötürü teşekkür ederek sizlere bugün ve gelecekte hizmet vermeye devam edecektir.
                Aynı zamanda e ticaret sitesi üzerinden yapılacak kampayalarla birlikte müşterilere daha uygun fiyata daha kaliteli ürünler pazarlamaktır.
            </p>
        </div>
        <div class="col-md-4">
            <div class="featured-box featured-box-primary">
                <div class="box-content">
                    <h4 class="text-uppercase heading-text-color">EKİBİMİZ</h4>
                    <ul class="thumbnail-gallery" data-plugin-lightbox data-plugin-options="{'delegate': 'a', 'type': 'image', 'gallery': {'enabled': true}}">
                        <li>
                            <a title="Benefits 1" href="img/benefits/benefits-1.jpg">
                                <span class="thumbnail mb-none">
                                    <img src="../Content/img/benefits/benefits-1-thumb.jpg" alt="">
                                </span>
                            </a>
                        </li>
                        <li>
                            <a title="Benefits 2" href="img/benefits/benefits-2.jpg">
                                <span class="thumbnail mb-none">
                                    <img src="../Content/img/benefits/benefits-2-thumb.jpg" alt="">
                                </span>
                            </a>
                        </li>
                        <li>
                            <a title="Benefits 3" href="img/benefits/benefits-3.jpg">
                                <span class="thumbnail mb-none">
                                    <img src="../Content/img/benefits/benefits-3-thumb.jpg" alt="">
                                </span>
                            </a>
                        </li>
                        <li>
                            <a title="Benefits 4" href="img/benefits/benefits-4.jpg">
                                <span class="thumbnail mb-none">
                                    <img src="../Content/img/benefits/benefits-4-thumb.jpg" alt="">
                                </span>
                            </a>
                        </li>
                        <li>
                            <a title="Benefits 5" href="img/benefits/benefits-5.jpg">
                                <span class="thumbnail mb-none">
                                    <img src="../Content/img/benefits/benefits-5-thumb.jpg" alt="">
                                </span>
                            </a>
                        </li>
                        <li>
                            <a title="Benefits 6" href="img/benefits/benefits-6.jpg">
                                <span class="thumbnail mb-none">
                                    <img src="../Content/img/benefits/benefits-6-thumb.jpg" alt="">
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <hr class="medium">
        </div>
    </div>

</div>





